@import "../styles/variables.module.css";

.wrapper {
    max-width: 640px;
    padding: 20px;
}

.title {
    font-size: 32px;
    margin-bottom: 8px;
}

.subtitle {
    font-size: 17px;
    margin-bottom: 24px;
}

.form {
    display: grid;
    gap: 5px;
}

.label {
    font-size: 15px;
}

.input,
.textarea {
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 10px 12px;
}

.textarea {
    resize: vertical;
}

.button {
    margin-top: 20px;
    border: none;
    background: var(--button-color);
    color: #fff;
    border-radius: var(--border-radius);
    padding: 10px 16px;
    width: fit-content;
    cursor: pointer;
    
    &:hover{
        background: var(--button-hover-color);
        color: #000;
    }
}

.button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.success {
    color: #1a6f2b;
    margin-top: 10px;
}

.error {
    color: #b20000;
}
.email{
    display: inline-block;
    margin-top: 40px;
    font-size: 18px;
    text-decoration: underline;
    &:hover{
        color: val(--button-hover-color);
        text-decoration: none;
    }
}