.footer_wrap{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}
.footer_fonts{
    width: 600px;

}
.footer_fonts, .footer_pages{

    a{
        color: #aaa;

        &:hover{
            color: #111;
        }
    }
}
.footer_copyright{
    margin-bottom: 20px;
}
.footer_links{
    img{
        width: 25px;
    }
}