@import "./variables.module.css";

.page{
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@media (max-width: 1200px) {
    .page {
        margin: 0 20px;
    }
}
.page_wrap{
    margin-top: 20px;
}
.header{
    border-bottom: 2px var(--pink-line) dashed;
    margin-top: 20px;
}
.main{
    flex: 1;
}
.footer{
    border-top: 1px dotted grey;
    margin-top: auto;
    margin-top: 40px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_site_links{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 10px 0;
    li{
        margin-right: 10px;
    }
}
.nav_sub_links{
    display: flex;
    align-items: center;
    list-style: none;
    li{
        margin-right: 10px;
    }
}
