.home_fonts {
    display: flex;
    flex-wrap: wrap;
    gap: 15;
    justify-content: center;
}
.font_block{
    padding: 25px;
    border: 1px grey dotted;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #c7c6c6;

    &:hover{
        box-shadow: 0px 0px 0px 0px;
        cursor: pointer;
    }
}
.extra_block{
    padding: 25px 30px;
    border: 1px grey dotted;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px #DFDFDF;
    background: hsl(180, 16%, 74%);
    color: white;
}

.font_link{
    text-decoration: none;
    color: #000;
}
.font_block_aa{
    font-size: 85px;
}
.font_block_name{
    font-size: 40px;
    margin-bottom: 20px;
}
